body {
  min-height: 100vh;
  margin: 0px;
  font-family: "Montserrat", sans-serif;
  color: #3a7a96;
}

h1 {
  font-size: 35px;
  font-weight: 300;
  margin: 0;
}

h2 {
  font-size: 28px;
  font-weight: 300;
  margin: 0;
}

p {
  font-size: 18px;
  margin: 0;
  text-align: justify;
  text-justify: inter-word;
}

a {
  text-decoration: none;
  color: #3a7a96;
}
a:hover {
  color: #7ca7ad;
}

header {
  height: 120px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;
}

nav {
  display: flex;
  flex-flow: row nowrap;
  margin: 0 50px 0 0;
}
nav a {
  padding: 0 0 0 30px;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown:hover .dropdown__content {
  display: block;
}
.dropdown__content {
  display: none;
  position: absolute;
  padding: 25px 0 10px 0;
  left: 15px;
  background-color: rgba(255, 255, 255, 0.8);
  min-width: 215px;
  box-shadow: 2px 2px 8px 1px rgba(121, 121, 121, 0.1);
  z-index: 1;
}
.dropdown__content a {
  padding: 8px 16px;
  display: block;
}

#logo {
  width: 205px;
  object-fit: contain;
  padding: 0 0 0 50px;
}

.section_1 #video {
  width: 100%;
  object-fit: cover;
  object-position: 0 15%;
  height: 450px;
  margin-top: 20px;
}

.bar {
  background-color: #3a7a96;
  height: 115px;
  width: 100%;
  margin-top: -4px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}
.bar a {
  background-color: white;
  border: none;
  font-size: 30px;
  padding: 12px 25px;
  margin: 35px;
  opacity: 1;
}
.bar a:hover {
  opacity: 0.84;
  transition: opacity 200ms;
}

.about {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  margin: 70px 80px 115px;
}
.about p {
  margin-top: 25px;
  line-height: 220%;
}
.about h1 {
  align-self: center;
}

.services {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.services h1 {
  font-size: 40px;
  margin: 0 0 40px;
}
.services__container {
  background: #f6f5f6;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 85%;
  padding: 0 0 10px;
}
.services__card {
  position: relative;
  margin: 10px 0px 0px;
  width: 32%;
  background: white;
  height: 300px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
}
.services__card h2 {
  margin: 0 0 25px;
  text-align: center;
}
.services__card:hover::after {
  opacity: 1;
}
.services__card--1::after {
  content: "Text Here";
  color: white;
  display: flex;
  padding: 30px 30px;
  text-align: justify;
  text-justify: inter-word;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  background-color: #3a7a96;
  position: absolute;
  inset: 0 0;
  opacity: 0;
  transition: opacity 350ms;
}
.services__card--2::after {
  content: "Text Here";
  color: white;
  display: flex;
  padding: 30px 30px;
  text-align: justify;
  text-justify: inter-word;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  background-color: #3a7a96;
  position: absolute;
  inset: 0 0;
  opacity: 0;
  transition: opacity 350ms;
}
.services__card--3::after {
  content: "Text Here";
  color: white;
  display: flex;
  padding: 30px 30px;
  text-align: justify;
  text-justify: inter-word;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  background-color: #3a7a96;
  position: absolute;
  inset: 0 0;
  opacity: 0;
  transition: opacity 350ms;
}
.services__card--4::after {
  content: "Text Here";
  color: white;
  display: flex;
  padding: 30px 30px;
  text-align: justify;
  text-justify: inter-word;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  background-color: #3a7a96;
  position: absolute;
  inset: 0 0;
  opacity: 0;
  transition: opacity 350ms;
}
.services__card--5::after {
  content: "Wanting to return to sport but continue to get stalled by niggles or old injuries that never settle?";
  color: white;
  display: flex;
  padding: 30px 30px;
  text-align: justify;
  text-justify: inter-word;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  background-color: #3a7a96;
  position: absolute;
  inset: 0 0;
  opacity: 0;
  transition: opacity 350ms;
}
.services__card--6::after {
  content: "Text Here";
  color: white;
  display: flex;
  padding: 30px 30px;
  text-align: justify;
  text-justify: inter-word;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  background-color: #3a7a96;
  position: absolute;
  inset: 0 0;
  opacity: 0;
  transition: opacity 350ms;
}
.services__icon {
  width: 180px;
  margin: 20px 0 0;
}

.testimonial {
  height: 210px;
  width: 100%;
  margin: 100px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../images/testimonial.jpg");
  background-size: cover;
}
.testimonial p {
  color: white;
  width: 90%;
}
.testimonial p .quotes {
  font-size: 30px;
}
.testimonial p .name {
  font-size: 16px;
}

footer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  margin: 95px 0 110px;
}
footer .map {
  width: 390px;
  height: 300px;
  object-fit: cover;
  margin: 0 45px 0 0;
}
footer .contact {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 80px;
}

.find_us {
  height: 310px;
  padding: 20px 0 0;
}
.find_us p {
  margin: 0 0 30px;
}
.find_us a {
  font-weight: 500;
}
.find_us__socials {
  margin-left: -5px;
}
.find_us__socials--about {
  margin: 5px 0 55px;
}
.find_us__social {
  height: 45px;
  padding: 0 10px 0 0;
}

.trusted_by {
  display: flex;
  width: 93%;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
.trusted_by__logo {
  height: 75px;
}
.trusted_by__logo--sm {
  height: 65px;
}
.trusted_by__logo--bg {
  height: 85px;
}

.who {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 45px 50px;
}
.who h1 {
  margin: 22px;
}
.who h2 {
  font-weight: bold;
  font-size: 26px;
  margin: 10px;
}
.who h3 {
  margin: 15px 0 0;
}
.who p {
  margin: 10px;
}
.who ul {
  list-style-type: "- ";
}
.who li {
  margin: 5px 0 0;
}
.who__jonny {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 0 0 25px;
}

.trusted_partners {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  width: 100%;
  justify-content: space-between;
}
.trusted_partners__card {
  text-align: center;
  width: 23%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.trusted_partners__card h2 {
  font-weight: bold;
  font-size: 22px;
  margin: 30px 10px 10px;
  height: 50px;
}
.trusted_partners__card h3 {
  font-weight: 300;
  height: 60px;
}

.services_page {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 65px 50px;
}
.services_page__divider {
  background-color: #3a7a96;
  color: white;
  width: 100%;
  height: 135px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.services_page__text {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  width: 60%;
}
.services_page h2 {
  font-size: 24px;
  font-weight: 600;
  margin: 0 0 10px;
}
.services_page__heading {
  display: flex;
  justify-content: center;
  margin: 67px 0 20px;
}

.blank_pic {
  height: 300px;
  width: 400px;
  background-color: #3a7a96;
}

/*# sourceMappingURL=style.css.map */
