body {
  min-height: 100vh;
  margin: 0px;
  font-family: "Montserrat", sans-serif;
  color: #3a7a96;
}

h1 {
  font-size: 35px;
  font-weight: 300;
  margin: 0;
}

h2 {
  font-size: 28px;
  font-weight: 300;
  margin: 0;
}

p {
  font-size: 18px;
  margin: 0;
  text-align: justify;
  text-justify: inter-word;
}

a {
  text-decoration: none;
  color: #3a7a96;
}

header {
  height: 120px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;
}

nav {
  display: flex;
  flex-flow: row nowrap;
  margin: 0 50px 0 0;
}
nav a {
  padding: 0 0 0 30px;
}
nav a:hover {
  color: #7ca7ad;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown:hover .dropdown__content {
  display: block;
}
.dropdown__content {
  display: none;
  position: absolute;
  padding: 25px 0 10px 0;
  left: 15px;
  background-color: rgba(255, 255, 255, 0.8);
  min-width: 215px;
  box-shadow: 2px 2px 8px 1px rgba(121, 121, 121, 0.1);
  z-index: 1;
}
.dropdown__content a {
  color: #3a7a96;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown__content a:hover {
  color: #7ca7ad;
}

#logo {
  width: 205px;
  object-fit: contain;
  padding: 0 0 0 50px;
}

.section_1__img {
  width: 100%;
  height: 370px;
  object-fit: cover;
  margin-top: 20px;
}

.bar {
  background-color: #3a7a96;
  height: 110px;
  width: 100%;
  margin-top: -4px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}
.bar__btn {
  background-color: white;
  color: #3a7a96;
  border: none;
  font-size: 22px;
  padding: 10px 20px;
  margin: 35px;
  opacity: 1;
}
.bar__btn:hover {
  opacity: 0.84;
  transition: opacity 200ms;
}

.about {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 70px 80px 115px;
}
.about p {
  margin-top: 40px;
  line-height: 220%;
}

.services {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.services h1 {
  font-size: 40px;
  margin: 0 0 40px;
}
.services__container {
  background: #f6f5f6;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 85%;
  padding: 0 0 10px;
}
.services__card {
  position: relative;
  margin: 10px 0px 0px;
  width: 32%;
  background: white;
  height: 300px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
}
.services__card h2 {
  margin: 0 0 25px;
  text-align: center;
}
.services__card:hover::after {
  opacity: 1;
}
.services__card--1::after {
  content: "Text Here";
  color: white;
  display: flex;
  padding: 30px 30px;
  text-align: justify;
  text-justify: inter-word;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  background-color: #3a7a96;
  position: absolute;
  inset: 0 0;
  opacity: 0;
  transition: opacity 350ms;
}
.services__card--2::after {
  content: "Text Here";
  color: white;
  display: flex;
  padding: 30px 30px;
  text-align: justify;
  text-justify: inter-word;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  background-color: #3a7a96;
  position: absolute;
  inset: 0 0;
  opacity: 0;
  transition: opacity 350ms;
}
.services__card--3::after {
  content: "Text Here";
  color: white;
  display: flex;
  padding: 30px 30px;
  text-align: justify;
  text-justify: inter-word;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  background-color: #3a7a96;
  position: absolute;
  inset: 0 0;
  opacity: 0;
  transition: opacity 350ms;
}
.services__card--4::after {
  content: "Text Here";
  color: white;
  display: flex;
  padding: 30px 30px;
  text-align: justify;
  text-justify: inter-word;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  background-color: #3a7a96;
  position: absolute;
  inset: 0 0;
  opacity: 0;
  transition: opacity 350ms;
}
.services__card--5::after {
  content: "Wanting to return to sport but continue to get stalled by niggles or old injuries that never settle?";
  color: white;
  display: flex;
  padding: 30px 30px;
  text-align: justify;
  text-justify: inter-word;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  background-color: #3a7a96;
  position: absolute;
  inset: 0 0;
  opacity: 0;
  transition: opacity 350ms;
}
.services__card--6::after {
  content: "Text Here";
  color: white;
  display: flex;
  padding: 30px 30px;
  text-align: justify;
  text-justify: inter-word;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  background-color: #3a7a96;
  position: absolute;
  inset: 0 0;
  opacity: 0;
  transition: opacity 350ms;
}
.services__icon {
  width: 180px;
  margin: 20px 0 0;
}

.testimonial {
  height: 210px;
  width: 100%;
  margin: 100px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../images/testimonial.jpg");
  background-size: cover;
}
.testimonial p {
  color: white;
  width: 90%;
}
.testimonial p .quotes {
  font-size: 30px;
}
.testimonial p .name {
  font-size: 16px;
}

footer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  margin: 95px 0 110px;
}
footer .map {
  width: 390px;
  height: 275px;
  object-fit: cover;
  object-position: -25px 0;
  margin: 0 45px 0 0;
}

.find_us p {
  margin: 0 0 30px;
}
.find_us a {
  text-decoration: none;
  color: #3a7a96;
}
.find_us a:hover {
  color: #7ca7ad;
}
.find_us__social {
  height: 40px;
  padding: 0 20px 0 0;
}

/*# sourceMappingURL=style.css.map */
