@keyframes testimonials {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  min-height: 100vh;
  margin: 0px;
  font-family: "Montserrat", sans-serif;
  color: #141414;
  background-color: #fafaf9;
}

hr {
  width: 90%;
  border: 0.5px solid #141414;
}

h1 {
  color: #3a7a96;
  font-size: 35px;
  font-weight: 300;
  margin: 0;
}

h2 {
  font-size: 28px;
  font-weight: 300;
  margin: 0;
}

p {
  font-size: 18px;
  margin: 0;
  text-align: justify;
  text-justify: inter-word;
}

a {
  text-decoration: none;
  color: #3a7a96;
}
a:hover {
  color: #7ca7ad;
}

header {
  height: 120px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
}

nav {
  display: flex;
  flex-flow: row nowrap;
  margin: 0 50px 0 0;
}
nav a {
  padding: 0 0 0 30px;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown:hover .dropdown__content {
  display: block;
}
.dropdown__content {
  display: none;
  position: absolute;
  padding: 25px 0 10px 0;
  left: 15px;
  background-color: rgba(255, 255, 255, 0.8);
  min-width: 215px;
  box-shadow: 2px 2px 8px 1px rgba(121, 121, 121, 0.1);
  z-index: 1;
}
.dropdown__content a {
  padding: 8px 16px;
  display: block;
}

#logo {
  width: 205px;
  object-fit: contain;
  padding: 0 0 0 50px;
}

.video_bar {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.video_bar__video {
  width: 100%;
  object-fit: cover;
  object-position: 0 0px;
  height: 550px;
}
.video_bar a {
  background-color: rgba(255, 255, 255, 0.85);
  color: #30657c;
  border: none;
  font-size: 30px;
  padding: 12px 25px;
  margin: -130px 0 75px;
  opacity: 1;
  z-index: 1;
}
.video_bar a:hover {
  opacity: 0.85;
  transition: opacity 200ms;
}

.banner {
  width: 100%;
  height: 430px;
  background-size: cover;
  background-position: 0px -90px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  color: white;
  font-size: 40px;
  font-weight: 400;
}
.banner--services {
  background-position: 0px -145px;
}

.about {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  margin: 70px 0px 80px;
  width: 70%;
}
.about p {
  margin-top: 25px;
  line-height: 220%;
}
.about h1 {
  align-self: center;
}

.services {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 100px;
}
.services h1 {
  font-size: 40px;
  margin: 0 0 40px;
}
.services a {
  color: white;
}
.services a:hover {
  color: white;
}
.services__container {
  background: #e3e3dd;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 85%;
  padding: 0 0 10px;
}
.services__card {
  position: relative;
  margin: 10px 0px 0px;
  width: 32%;
  height: 300px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background-size: cover;
}
.services__card::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.25);
}
.services__card h2 {
  font-weight: 500;
  font-size: 30px;
  text-shadow: 2px 2px 2px rgba(43, 54, 51, 0.25);
  text-align: center;
  color: white;
}
.services__card:hover::after {
  opacity: 1;
}
.services__card--1::after {
  content: "A 60 minute initial consultation to discuss a new problem or injury that is causing you pain or dysfunction.";
  color: white;
  display: flex;
  padding: 40px 40px;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  background-color: #3a7a96;
  position: absolute;
  inset: 0 0;
  opacity: 0;
  transition: opacity 350ms;
}
.services__card--2::after {
  content: "A bespoke plan encompassing the most effective treatments available to you.";
  color: white;
  display: flex;
  padding: 40px 40px;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  background-color: #3a7a96;
  position: absolute;
  inset: 0 0;
  opacity: 0;
  transition: opacity 350ms;
}
.services__card--3::after {
  content: "For those wanting to return to the sport or activity that they love. An ongoing plan for full injury recovery and reduced future injury risk.";
  color: white;
  display: flex;
  padding: 40px 40px;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  background-color: #3a7a96;
  position: absolute;
  inset: 0 0;
  opacity: 0;
  transition: opacity 350ms;
}
.services__card--4::after {
  content: "If you have recently had an orthopaedic operation and want extra support to help you recover as quickly as possible, then PAWB physiotherapy is the place for you.";
  color: white;
  display: flex;
  padding: 40px 40px;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  background-color: #3a7a96;
  position: absolute;
  inset: 0 0;
  opacity: 0;
  transition: opacity 350ms;
}
.services__card--5::after {
  content: "The most effective way to assess you in your own environment. Ideal for mobility issues or getting a head start with your post-operative rehabilitation.";
  color: white;
  display: flex;
  padding: 40px 40px;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  background-color: #3a7a96;
  position: absolute;
  inset: 0 0;
  opacity: 0;
  transition: opacity 350ms;
}
.services__card--6::after {
  content: "Our video consultations are the perfect solution for those unable to travel due to transport issues or time constraints.";
  color: white;
  display: flex;
  padding: 40px 40px;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  background-color: #3a7a96;
  position: absolute;
  inset: 0 0;
  opacity: 0;
  transition: opacity 350ms;
}

.testimonial {
  position: relative;
  height: 235px;
  width: 100%;
  margin: 100px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../images/testimonial.jpg");
  background-size: cover;
}
.testimonial__text {
  opacity: 0;
  position: absolute;
  width: 90%;
  animation: testimonials 60s infinite;
}
.testimonial__text--0 {
  animation-delay: 0s;
}
.testimonial__text--1 {
  animation-delay: 15s;
}
.testimonial__text--2 {
  animation-delay: 30s;
}
.testimonial__text--3 {
  animation-delay: 45s;
}
.testimonial__text--0 p {
  font-size: 16px;
}
.testimonial p {
  color: white;
}
.testimonial p .quotes {
  font-size: 24px;
}
.testimonial p .name {
  font-size: 16px;
}

footer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 95px 0 110px;
}
footer .map {
  height: 330px;
  object-fit: cover;
  margin: 0 45px 0 0;
}
footer .contact {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-bottom: 100px;
}

.find_us h1 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 0 15px;
}
.find_us h2 {
  font-size: 20px;
  margin: 15px 0px 3px;
  color: #3a7a96;
}
.find_us p {
  margin: 0 0 25px;
  font-size: 16px;
  line-height: 1.6;
}
.find_us a {
  font-size: 20px;
  font-weight: 400;
}
.find_us__socials {
  margin-left: -5px;
}
.find_us__socials--about {
  margin: 5px 0 55px;
}
.find_us__social {
  height: 45px;
  padding: 0 10px 0 0;
}

.trusted_by {
  display: flex;
  width: 93%;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
.trusted_by__logo {
  height: 60px;
}
.trusted_by__logo--xs {
  height: 40px;
}
.trusted_by__logo--sm {
  height: 50px;
}
.trusted_by__logo--bg {
  height: 75px;
}

.who {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 45px 10px;
}
.who h1 {
  margin: 40px 0 20px;
}
.who h2 {
  font-weight: bold;
  font-size: 26px;
  margin: 10px;
  color: #3a7a96;
}
.who h3 {
  margin: 0 0 15px;
  color: #3a7a96;
}
.who p {
  margin: 10px;
  line-height: 220%;
}
.who ul {
  list-style-type: "- ";
  margin: 25px 0 50px -350px;
}
.who li {
  margin: 7px 0 0;
}
.who img {
  height: 330px;
}
.who .headshot {
  width: 40%;
  height: 330px;
  object-fit: cover;
  object-position: 0px -25px;
}
.who__jonny {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 0px 0 25px;
  width: 70%;
}
.who__jonny--headshot {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  margin: 65px 0 50px;
}
.who__jonny--text {
  display: flex;
  width: 55%;
  flex-flow: column nowrap;
  align-items: center;
  line-height: 2.2;
  text-align: center;
}

.trusted_partners {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  width: 95%;
  justify-content: space-between;
  margin-top: 40px;
}
.trusted_partners img {
  margin: 20px 0 25px;
  height: 185px;
}
.trusted_partners__card {
  text-align: center;
  width: 20%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.trusted_partners__card h2 {
  font-weight: 600;
  font-size: 20px;
  margin: 10px 0px 10px;
  height: 55px;
}
.trusted_partners__card h3 {
  font-weight: 300;
  height: 50px;
}
.trusted_partners__card h4 {
  color: #3a7a96;
  font-weight: 400;
  margin: 0;
}

.services_page {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 90px 0 70px;
  width: 80%;
}
.services_page__divider {
  background-color: #3a7a96;
  color: white;
  width: 100%;
  height: 135px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.services_page__text {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  width: 58%;
}
.services_page__text p {
  font-size: 16px;
  margin: 10px 0 5px;
}
.services_page__pic {
  height: 380px;
  object-fit: cover;
  width: 38%;
}
.services_page h2 {
  font-size: 24px;
  font-weight: 600;
  margin: 0 0 10px;
  color: #3a7a96;
}
.services_page__heading {
  display: flex;
  justify-content: center;
  margin: 67px 0 20px;
}

/*# sourceMappingURL=style.css.map */
