@use 'sass:math';
$clr-main:#3a7a96;
$clr-main-hue:198;
$clr-secondary:#7ca7ad;
$clr-white:white;
$clr-black:black;
$clr-font:lighten($clr-black, 8%);
$grey-background:#fafaf9;
$dropdown-bg:rgba(255, 255, 255, 0.8);
$anim-dur:60s;
$num-testimonials:3;
$anim-delay: math.div($anim-dur, $num-testimonials);


@mixin link_hover {
    color:$clr-secondary;
}
@mixin btn_hover {
    opacity:1;
    &:hover{
        opacity:0.85;
        transition:opacity 200ms;
    }
}
@mixin after{
    color:$clr-white;
    display:flex;
    padding:40px 40px;
    align-items:center;
    justify-content:center;
    font-size:22px;
    background-color:$clr-main;
    @include card-opacity;

}
@mixin card-opacity{
    position:absolute;
    inset:0 0;
    opacity:0;
    transition:opacity 350ms;
}
@keyframes testimonials{
    0%{
        opacity:0;
    }
    5%{
        opacity:0;
    }
    15%{
        opacity:1;
    }
    25%{
        opacity:1;
    }
    30%{
        opacity:0;
    }
    100%{
        opacity:0;
    }
}
body{ 
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
    min-height: 100vh;
    margin:0px;
    font-family: 'Montserrat', sans-serif;
    color:$clr-font;
    background-color:$grey-background;
}
hr{
    width:90%;
    border: 0.5px solid $clr-font;
}

h1 {
    color:$clr-main;
    font-size:35px;
    font-weight: 300;
    margin:0;
}
h2 {
    font-size:28px;
    font-weight:300;
    margin:0;
}
p{
    font-size:18px;
    margin:0;
    text-align: justify;
    text-justify: inter-word;
}
a{
    text-decoration:none;
    color:$clr-main;
    &:hover{
        @include link_hover;
    }
}
header{
    height:120px;
    width: 100%;
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items:flex-end;
    margin-bottom:20px;
}
nav{
    display:flex;
    flex-flow: row nowrap;
    margin: 0 50px 0 0;
    a{
        padding:0 0 0 30px;
        }
}
.dropdown{
    position: relative;
    display: inline-block;
    &:hover .dropdown__content{
        display: block;
        
    }
    &__content{
        display: none;
        position: absolute;
        padding: 25px 0 10px 0;
        left: 15px;
        background-color:$dropdown-bg;
        min-width: 215px;
        box-shadow: 2px 2px 8px 1px rgba(121, 121, 121, 0.1);
        z-index: 1;
    a{
        padding: 8px 16px;
        display: block;
    }
    }
}
#logo{
    width:205px;
    object-fit: contain;
    padding: 0 0 0 50px;
}
.video_bar{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    &__video{
        width:100%;
        object-fit:cover;
        object-position: 0 0px;
        height:550px;
    }
    a{
        background-color: rgba(255, 255, 255, 0.85);
        color:darken($clr-main, 7%);
        border: none; 
        font-size: 30px;
        padding: 12px 25px;
        margin: -130px 0 75px;
        @include btn_hover;
        z-index: 1;
    }
    
}
.banner{
    width:100%;
    height:430px;
    background-size: cover;
    background-position: 0px -90px;
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
    justify-content:center;
    h1{
        color:$clr-white;
        font-size:40px;
        font-weight:400;
    }
    &--services{
        background-position: 0px -145px;
    }
}
.about{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    margin: 70px 0px 80px;
    width:70%;
    p{
        margin-top:25px;
        line-height: 220%;
    }
    h1{
        align-self: center;
    }
}
.services{
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
    margin-top:100px;
    h1{
        font-size: 40px;
        margin: 0 0 40px;
    }
    a{
        color:$clr-white;
        &:hover{
            color:$clr-white;
        }
    }
    &__container{
        background:darken($grey-background, 10%);
        display:flex;
        flex-flow:row wrap;
        justify-content:space-evenly;
        width:85%;
        padding: 0 0 10px;
    }
    &__card{
        position:relative;
        margin: 10px 0px 0px;
        width: 32%;
        height:300px;
        display:flex;
        flex-flow:column nowrap;
        align-items:center;
        justify-content: center;
        background-size: cover;
        &::before {
            content: "";
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            background-color: rgba(255,255,255,0.25);
        }
        h2{
            font-weight: 500;
            font-size: 30px;
            text-shadow: 2px 2px 2px rgb(43 54 51 / 25%);
            text-align: center;
            color:$clr-white;
        }
      &:hover{
        &::after{
          opacity:1;
          }
        }
        &--1{
            &::after{
                content:"A 60 minute initial consultation to discuss a new problem or injury that is causing you pain or dysfunction.";
                @include after;
            }
        }
        &--2{
            &::after{
                content:"A bespoke plan encompassing the most effective treatments available to you.";
                @include after;
            }
        }
        &--3{
            &::after{
                content:"For those wanting to return to the sport or activity that they love. An ongoing plan for full injury recovery and reduced future injury risk.";
                @include after;
            }
        }
        &--4{
            &::after{
                content:"If you have recently had an orthopaedic operation and want extra support to help you recover as quickly as possible, then PAWB physiotherapy is the place for you.";
                @include after;
            }
        }
        &--5{
            &::after{
                content:"The most effective way to assess you in your own environment. Ideal for mobility issues or getting a head start with your post-operative rehabilitation.";
                @include after;
            }
        }
        &--6{
            &::after{
                content:"Our video consultations are the perfect solution for those unable to travel due to transport issues or time constraints.";
                @include after;
            }
        }


    }
}
.testimonial{
        position:relative;
        height:235px;
        width: 100%;
        margin: 100px 0 0;
        display:flex;
        
        align-items:center;
        justify-content: center;
        background-image: url("../images/testimonial.jpg");
        background-size: cover;
        &__text{
            opacity:0;
            position:absolute;
            width:90%;
                animation:testimonials $anim-dur infinite;
                @for $i from 0 through $num-testimonials{
                    &--#{$i} {
                        animation-delay:$anim-delay * 0.75 * $i;

                    }
                }
        
            &--0{
                p{
                    font-size:16px;
                }
            }
        }
        p{
            color:$clr-white;
            .quotes{
            font-size:24px;
        }
            .name{
            font-size:16px;
        }
    }
}

footer{
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin:95px 0 110px;
    .map{
        height:330px;
        object-fit: cover;
        margin:0 45px 0 0;
    }
    .contact{
        display:flex;
        flex-flow:row nowrap;
        align-items:center;
        margin-bottom: 100px;
    }
}

.find_us{
    h1{
        font-size:26px;
        font-weight:400;
        margin:0 0 15px;
    }
    h2{
        font-size: 20px;
        margin: 15px 0px 3px;
        color:$clr-main;
    }
    p{
        margin:0 0 25px;
        font-size:16px;
        line-height: 1.6;
    }
    a{
        font-size:20px;
        font-weight:400;
    }
    &__socials{
        margin-left:-5px;
        &--about{
            margin:5px 0 55px;
        }
    }
    &__social{
        height:45px;
        padding: 0 10px 0 0;
    }
}
.trusted_by{
    display:flex;
    width:93%;
    flex-flow:row nowrap;
    align-items: center;
    justify-content: space-between;
    &__logo{
        height:60px;
        &--xs{
            height:40px;
        }
        &--sm{
            height:50px;
        }
        &--bg{
            height:75px;
        }
    }
}

.who{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin:45px 10px;
    h1{
        margin:40px 0 20px;
    }
    h2{
        font-weight:bold;
        font-size:26px;
        margin: 10px;
        color:$clr-main;
    }
    h3{
        margin:0 0 15px;
        color:$clr-main;
    }
    p{
        margin:10px;
        line-height: 220%;
    }
    ul {
        list-style-type: '- ';
        margin: 25px 0 50px -350px;
    }
    li {
        margin: 7px 0 0;
    }
    img {
        height: 330px;
    }
    .headshot {
        width: 40%;
        height: 330px;
        object-fit: cover;
        object-position: 0px -25px;
    }
    &__jonny{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        margin:0px 0 25px;
        width:70%;
        &--headshot{
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-between;
            margin: 65px 0 50px;
        }
        &--text{
            display: flex;
            width: 55%;
            flex-flow: column nowrap;
            align-items: center;
            line-height: 2.2;
            text-align: center;
        }
        
    }
}

.trusted_partners{
    display:flex;
    flex-flow:row nowrap;
    align-items:flex-start;
    width:95%;
    justify-content: space-between;
    margin-top: 40px;
    img{
        margin: 20px 0 25px;
        height: 185px;
    }
    &__card{
        text-align: center;
        width: 20%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        h2{
            font-weight: 600;
            font-size: 20px;
            margin: 10px 0px 10px;
            height: 55px;
            }
        h3{
            font-weight:300;
            height:50px;
        }
        h4{
            color:$clr-main;
            font-weight:400;
            margin:0;
        }
    }
}

.services_page{
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 90px 0 70px;
    width: 80%;
    &__divider{
        background-color:$clr-main;
        color:$clr-white;
        width:100%;
        height:135px;
        display:flex;
        flex-flow:column nowrap;
        justify-content: center;
        align-items: center;
    }
    &__text{
        display:flex;
        flex-flow:column nowrap;
        align-items: flex-start;
        width:58%;
        p{
            font-size:16px;
            margin:10px 0 5px;
        }
    }
    &__pic{
        height: 380px;
        object-fit: cover;
        width: 38%;
    }
    h2{
        font-size: 24px;
        font-weight: 600;
        margin: 0 0 10px;
        color:$clr-main;
    }
    &__heading{
        display:flex;
        justify-content: center;
        margin:67px 0 20px;
    }
}
