$clr-main:#3a7a96;
$clr-main-hue:198;
$clr-secondary:#7ca7ad;
$clr-white:white;
$clr-black:black;
$grey-background:#f6f5f6;
$dropdown-bg:rgba(255, 255, 255, 0.8);

@mixin link_hover {
    color:$clr-secondary;
}
@mixin btn_hover {
    opacity:1;
    &:hover{
        opacity:0.84;
        transition:opacity 200ms;
    }
}
@mixin after{
    color:$clr-white;
    display:flex;
    padding:30px 30px;
    text-align: justify;
    text-justify: inter-word;
    align-items:center;
    justify-content:center;
    font-size:25px;
    background-color:$clr-main;
    @include card-opacity;

}
@mixin card-opacity{
    position:absolute;
    inset:0 0;
    opacity:0;
    transition:opacity 350ms;
}

body{ 
    min-height: 100vh;
    margin:0px;
    font-family: 'Montserrat', sans-serif;
    color:$clr-main;
}
h1 {
    font-size:35px;
    font-weight: 300;
    margin:0;
}
h2 {
    font-size:28px;
    font-weight:300;
    margin:0;
}
p{
    font-size:18px;
    margin:0;
    text-align: justify;
    text-justify: inter-word;
}
a{
    text-decoration:none;
    color:$clr-main;
}
header{
    height:120px;
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items:flex-end;
}
nav{
    display:flex;
    flex-flow: row nowrap;
    margin: 0 50px 0 0;
    a{
        padding:0 0 0 30px;
        &:hover{
            @include link_hover;
        }
        }
}
.dropdown{
    position: relative;
    display: inline-block;
    &:hover .dropdown__content{
        display: block;
        
    }
    &__content{
        display: none;
        position: absolute;
        padding: 25px 0 10px 0;
        left: 15px;
        background-color:$dropdown-bg;
        min-width: 215px;
        box-shadow: 2px 2px 8px 1px rgba(121, 121, 121, 0.1);
        z-index: 1;
    a{
        color: $clr-main;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        &:hover{
            @include link_hover;
        }
    }
    }
}
#logo{
    width:205px;
    object-fit: contain;
    padding: 0 0 0 50px;
}
.section_1 {
    &__img{
        width:100%;
        height:370px;
        object-fit: cover;
        margin-top: 20px;
    }
}
.bar{
    background-color: $clr-main;
    height:110px;
    width:100%;
    margin-top:-4px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    &__btn{
        background-color: $clr-white;
        color: $clr-main;
        border: none; 
        font-size: 22px;
        padding: 10px 20px;
        margin: 35px;
        @include btn_hover;
    }
}
.about{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 70px 80px 115px;
    p{
        margin-top:40px;
        line-height: 220%;
    }
}
.services{
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
    h1{
        font-size: 40px;
        margin: 0 0 40px;
    }
    &__container{
        background:$grey-background;
        display:flex;
        flex-flow:row wrap;
        justify-content:space-evenly;
        width:85%;
        padding: 0 0 10px;
    }
    &__card{
        
        position:relative;
        margin: 10px 0px 0px;
        width: 32%;
        background:$clr-white;
        height:300px;
        display:flex;
        flex-flow:column nowrap;
        align-items:center;
        justify-content: space-between;
        h2{
            margin:0 0 25px;
            text-align: center;
        }
      &:hover{
        &::after{
          opacity:1;
          }
        }
        &--1{
            &::after{
                content:"Text Here";
                @include after;
            }
        }
        &--2{
            &::after{
                content:"Text Here";
                @include after;
            }
        }
        &--3{
            &::after{
                content:"Text Here";
                @include after;
            }
        }
        &--4{
            &::after{
                content:"Text Here";
                @include after;
            }
        }
        &--5{
            &::after{
                content:"Wanting to return to sport but continue to get stalled by niggles or old injuries that never settle?";
                @include after;
            }
        }
        &--6{
            &::after{
                content:"Text Here";
                @include after;
            }
        }

    }
    &__icon{
        width:180px;
        margin:20px 0 0;
    }
}
.testimonial{
        height:210px;
        width: 100%;
        margin: 100px 0 0;
        display:flex;
        align-items:center;
        justify-content: center;
        background-image: url("../images/testimonial.jpg");
        background-size: cover;
    p{
        color:$clr-white;
        width:90%;
        .quotes{
            font-size:30px;
        }
        .name{
            font-size:16px;
        }
    }
}
footer{
    display:flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    margin:95px 0 110px;
    .map{
        width: 390px;
        height: 275px;
        object-fit: cover;
        object-position: -25px 0;
        margin:0 45px 0 0;
    }
}
.find_us{
    p{
        margin:0 0 30px;
    }
    a{
        text-decoration:none;
        color:$clr-main;
        &:hover{
            @include link_hover;
        }
    }
    &__social{
        height:40px;
        padding: 0 20px 0 0;
    }
}