$clr-main:#3a7a96;
$clr-secondary:#7ca7ad;
$clr-white:white;
$clr-black:black;

body{ 
    font-family: 'Montserrat', sans-serif;
}
header{
    height:120px;
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items:flex-end;
}
nav{
    display:flex;
    flex-flow: row nowrap;
    margin: 0 50px 0 0;
}
#logo{
    width:205px;
    object-fit: contain;
    padding: 0 0 10px 50px;
}
a{
    color:$clr-main;
    text-decoration: none;
    padding:0 0 0 30px;
    }
